name: Build and Push Docker Base Image

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/docker-base-publish.yml
      - base.dockerfile
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [ amd64, arm64 ]
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Container image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ghcr.io/${{ github.repository }}
          tags: ci-${{ matrix.arch }}
          containerfiles: ./base.dockerfile

      - name: Save OCI archive
        run: |
          mkdir -p out
          podman save --format oci-archive -o "out/${{ matrix.arch }}.tar" "ghcr.io/${{ github.repository }}:ci-${{ matrix.arch }}"

      - name: Upload OCI archive
        uses: actions/upload-artifact@v4
        with:
          name: image-${{ matrix.arch }}
          path: out/${{ matrix.arch }}.tar
          retention-days: 1
          compression-level: 0


  manifest:
    name: Manifest push
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download OCI archives
        uses: actions/download-artifact@v4
        with:
          pattern: image-*
          path: in
          merge-multiple: true

      - name: Load images into local storage
        run: |
          set -euo pipefail
          for arch in amd64 arm64; do
            podman load -i "in/${arch}.tar"
          done

      - name: Log in to GitHub Container Registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create & push multi-arch tags
        run: |
          set -euxo pipefail
          IMAGE="ghcr.io/${{ github.repository }}"
          AMD="${IMAGE}:ci-amd64"
          ARM="${IMAGE}:ci-arm64"
          t="base"

          podman manifest rm "${IMAGE}:${t}" 2>/dev/null || true
          podman manifest create "${IMAGE}:${t}"
          podman manifest add "${IMAGE}:${t}" "containers-storage:${AMD}"
          podman manifest add "${IMAGE}:${t}" "containers-storage:${ARM}"
          podman manifest push --all "${IMAGE}:${t}" "docker://${IMAGE}:${t}"

      - name: Trigger docker-publish
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: docker-publish
